<div class="fs-5">
    <ul class="container align-middle text-info bg-dark ">1º Lugar</ul>
    <ul class="container align-middle"> “Demência” de Célia Correia Loureiro Além da inveja enorme (mas saudável) que eu tenho por ver alguém tão jovem escrever tão bem, ainda posso dizer que este livro me fez conhecer realmente o que é a demência em todos os seus aspectos e como afecta,
        não só o doente, mas todas as pessoas à sua volta. Uma história enorme só ao alcance de alguém muito telentoso!

    </ul>
    <ul class="container align-middle text-info bg-dark">2º Lugar</ul>
    <ul class="container align-middle"> “O Ódio que Semeias” de Angie Thomas É um dos livros que mais se fala actualmente sempre que o tema é racismo. Sendo uma história ideal para um público mais jovem (e que deveria de ser de leitura obrigatória nas salas de aulas), teve em mim muito
        impacto e não deixo de o aconselhar a todos quantos queiram perceber o que é (e que já não devia ser há muito) o racismo no dia-a-dia das vítimas em pleno século XXI.

    </ul>
    <ul class="container align-middle text-info bg-dark">3º Lugar</ul>
    <ul class="container align-middle"> “O Meu Irmão” de Afonso Reis Cabral Mais outro talento nacional enorme. Gosto muito da escrita deste rapaz e nesta história temos um homem de 40 anos com Síndrome de Down que fica à guarda do seu irmão. Além de ficarmos a conhecer as limitações do
        que é viver com este síndrome, ficamos também a saber que o ciúme, a inveja e a estupidez não têm limites. Duro, muito duro, certamente para alguns será de levar às lágrimas.

    </ul>
    <ul class="container align-middle text-info bg-dark">4º Lugar</ul>
    <ul class="container align-middle"> “A Paciente Silenciosa” de Alex Michaelides Um livro em que a personagem principal se recusa a abrir a boca e a dizer o porquê de ter morto o marido. Só por aí já me tinha deixado curioso que chegue. Depois, ver todo o desenrolar da trama e no fim
        ainda ser surpreendido da maneira como fui… são 5 estrelas, recomendações a todos os viciados em leitura e não se fala mais nisso!


    </ul>
    <ul class="container align-middle text-light bg-dark">Pronto, assim chegámos ao final da primeira parte deste belo Top, amanhã voltamos com os quatros melhores. Espero que tenham gostado e que voltem para ver o resto, prometo que vai valer a pena. Até amanhã e boas leituras!</ul>

</div>